[Unit]
Description=Notifies public IP changes
Requires=turnip.service

[Timer]
Unit=turnip.service
OnCalendar=*:0/15

[Install]
WantedBy=timers.target